input[type=submit]:disabled{
 color: lightgray;}
input[type=text]:disabled {
 background: red;}
tbody tr:nth-child(odd) {
 background: #66ff00;}
tbody tr:nth-child(even){
 background: #ccff66;}
tbody tr:hover {
 background: cyan;}